/* Resets */
*,
*::after,
*::before {
padding: 0;
margin: 0;
box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1 rem */
}


body {
  box-sizing: border-box;
  font-family: "Sedan", 'Montserrat', serif;

}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.7rem;
  color: #546270;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2rem;
}

/* Grid system */


.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  border-radius: 0.6rem;
}

.column--50{
  width: calc(50% - 30px);
}

.column--shrink{
  width: auto;
  flex: none;
}

.align-centre{
  align-items: center;
}
.justify-centre{
  justify-content: center;
}
.space-between{
  justify-content: space-between;
}

/* Card system */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;

}


/*Ul's*/
nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
}

ul li a {
  padding: 1rem;
  display: inline-block;
  transition: color .25s ease-in-out;
}

ul li a:hover {
  color: rgb(197, 157, 95);
}

.fab {
  padding: 1rem;
  display: inline-block;
  transition: color .3s ease-in-out;
}

.fab:hover {
  color:#9e7739;
}


/* Navbar*/
.header{
  background-color: #546270;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #546270;
  box-shadow: 5px 1px 12px -2px black;
}
.header ul {
  width: 100%;
}
.header .nav-desk {

  transition: 0.3s ease-in-out;
  color: #fff;
  font-size: 1.5rem;
}
.header .header-logo {
    font-family: 'Great Vibes', serif;
    color: rgb(197, 157, 95);
    font-size: 5rem;
    
  }


  .header .active {
    text-decoration:underline;
  }
  
  .header .nav-active {

  }
  
  
  .room-booking {
    background-color: rgb(197, 157, 95);
  }
  
  .room-booking :hover {
    color: #fff;
  }
  
  .header ul li {
    padding: 1rem;
    display: inline-block;
    transition: color .25s ease-in-out;
  }
  

  
  @media only screen and (min-width: 1024px){
    .header .header-logo {
      padding-right: 8rem;
    }
    .header ul li:first-child{
    margin-right: auto;
  }
}
.btn {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: rgb(197, 157, 95);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;

}

.btn:hover {
  background-color: #9e7739;
  transition: 0.3s ease-in-out;
}

/* Mobile nav*/
.mobile-nav a i {
  font-size: 3.5rem;
  color: rgb(197, 157, 95);
  padding: 1.5rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}










/* Hero section */

.hero-image {
  background-color: #546270;
  background-image: url("../images/hero1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  z-index: -1;


}

.hero-outer {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.hero-text {
  color: #fff;
  z-index: 1;
  position: relative;
  font-family: 'Great Vibes';
  font-size: 3.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  top: auto;
  bottom: auto;
  margin-bottom: 3rem;
  letter-spacing: .2rem;

}

.break-line {
  color: rgb(197, 157, 95);
  width: 5rem;
  border: 0.1rem solid rgb(197, 157, 95);
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  margin-top: 0;

}

.logo-single {
  font-size: 10rem;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(197, 157, 95, 0.3);
}


/* Welcome area*/

.welcome {
  display: flex;
  justify-content: center;
} 

.welcome-logo {
  font-family: 'Great Vibes';
  color: rgb(197, 157, 95);
  font-size: 5rem;
}

.welcome-text {
  max-width: 70%;
 justify-content:center ;
 text-align: center;
 letter-spacing: .1rem;
}




/* Offers area */

.offers {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.offers-card {
  margin: 0.5rem;
  color: #fff;
  letter-spacing: .2rem;
}

.carv-card {
  background-image: url(../images/carvery-images/carv6.webp);
}

.acom-card {
  background-image: url(../images/acom.jpg);
}

.food-card {
  background-image: url(../images/food.jpg);
}

.funct-card {
  background-image: url(../images/func1.jpg);
}

.card p {
  color: #fff;
}

.offers-card h2 {
  font-size: 4rem;
  margin-bottom:2rem ;

}


.cards-btn {
  margin-top: 2rem;
  border-radius: 0.5rem;
}

/* Function room & Photos carousel */

.function-area {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.function-text {
  max-width: 70%;
  justify-content:center ;
  text-align: center;
  margin-bottom: 5rem;
  letter-spacing: .1rem;
  
 }


.function-photos img{
  width: 100%;
  height: 60rem;
  object-fit: cover;
}


  /* Funtions area */

  .function-header {
    margin-top: 10rem;
    margin-bottom: 3rem;
  }
      .container-functions-photos{
        position: relative;
      }
  
      .function-photos-header{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
      .container-functions-photos-hero img{
        filter: brightness(55%);
      }
  
   /* .container-functions-photos h1, */
   .container-functions-photos p{
    color: white;
    }
    
/* Contact area */



.contact {
  margin-top: 3.5rem; 
  color: srgb(112,128,144);
  margin-bottom: 3.5rem;
}

.contact-card {
  margin: 0.5rem;
  color:#546270;
  border: 0.2rem solid  rgb(197, 157, 95);
}

.contact-card h2 {
  margin-bottom: 2rem;
}

.contact-card p {
  color: #546270;
  margin: 0.2rem;
}

.contact-card-page {
  height: 70rem;
}

.google-map-contact {
  height: 62rem;
}  .contact-card-page {
  border: 0;
}

 .contact-h2 {
  color: #546270;
} 
/* 
.contact-card-page h2:last-of-type{
  margin-top: 4rem;
} */

.contact-card-page button + h2{
  margin-top: 4rem;
}




/* Map area */

.footer-map {
  width: 100%;
  height: fit-content;
}

.google-map {
  width: 100%;
}



/* Footer area */

.footer{
  background-color: #546270;
  width: 100%;
  font-size: 2rem;
  padding-top: 25px;
  padding-bottom: 25px;

}
  
.social-networks {
  color: rgb(197, 157, 95);
  font-size: 3rem;
}
.footer  p {
  color: #fff;
  margin-bottom: 0;
}


.footer-info {
  width: 100%;
  background-color: #546270;
  color: #fff;

}

.footer-logo{
  font-family: 'Great Vibes', serif;
  color: rgb(197, 157, 95);
  font-size: 5rem;

}
.footer-nav{
  margin-bottom: 15px;
}


/* Gallery page */

.gallery {
  margin-top: 3rem;
}

.gallery .column--50 {
  margin: 1rem;
}

.gallery img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  transition: ease-in-out .4s;
  box-shadow: 5px 1px 12px -2px black;
  border-radius: 0.1rem;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.04);
}

/* Gallery modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(84, 98, 112, 0.7);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content img {
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.25s ease-out;
}
.close:hover {
  color: rgb(197, 157, 95);
}

/* Carvery page */

.hero-carvery{
  background-image: url("../images/carvery-images/carv2.webp");
  /* filter: brightness(55%); */
}

.carvery-card {
  margin: 0.5rem;
  color:#546270;
}

.carvery-card h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.carvery-card p {
  color: #546270;
  margin: 0.2rem;
}

.menu-links {
  color: #9e7739;
  text-decoration: underline;
}




/************************************* Media Queries ***************************************************************************/

/*  Mobile */
@media only screen and (min-width: 1px) and (max-width: 639px){


  /* Grid system */
    /* global */
    .column--50{
      width: calc(100% - 30px);
    }

   /* specific */
  .column--m50{
    width: calc(50% - 30px);
  }
  .column--m100{
    width: calc(100% - 30px);
  }
  .column--mshrink{
    width: auto;
    flex: none;
  }
  /* Font sizes */
  .welcome-logo {
    font-size: 4rem;
  }

  .logo-single {
    font-size: 7rem;
  }

  /* Hero section */

  .hero-text {
    font-size: 3rem;
  margin-bottom: 2rem;
  letter-spacing: .2rem;
  }

  .welcome-text {
    max-width: 100%;
   justify-content:center ;
   text-align: center;
   
  }

  .welcome-logo {
    max-width: 100%;
  }
  
  .function-text {
    max-width: 100%;
   justify-content:center ;
   text-align: center;
  
  }

  

  
  

  /* Mobile Nav */
  .desktop-nav {
    display: none !important;
  }
      .header ul {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
      
  }
  
}

/* Tablet */
@media only screen and (min-width: 640px) and (max-width: 1023px){

    /* Grid system */
    /* global */
    .column--50{
      width: calc(50% - 30px);
    }
     /* specific */
    .column--t50{
      width: calc(50% - 30px);
    }
    .column--t100{
      width: calc(100% - 30px);
    }
    .column--tshrink{
      width: auto;
      flex: none;
    }

    .header .column {
      text-align: left;
    }
  
    .header .column+.column {
      text-align: right;
    }
    
    /* Nav bar */
    .desktop-nav {
      display: none !important;
    }
  
    .mobile-nav {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    .mobile-nav ul {
      display: flex;
      flex-direction: column;
    }
  
    .mobile-nav #burger-menu {
      display: none;
    }
  

}

/* Desktop */
@media only screen and (min-width: 1024px) {

    /* Grid system */
    /* global */
    .column--50{
      width: calc(50% - 30px);
    }
    /* specific */
  .column--d50{
    width: calc(50% - 30px);
  }
  .column--d100{
    width: calc(100% - 30px);
  }
  .column--dshrink{
    width: auto;
    flex: none;
  }

  /* Nav bar */
  .mobile-nav {
    display: none !important;
  }

  /* Footer */
  .footer-info {
    text-align: right;
    }
    .footer li:last-child a{
      padding-right: 0;
    }
  }
  
  .footer li:last-child i{
    padding-right: 0;
  
  }
  

  
  

@media only screen and (min-width: 1px) and (max-width: 1023px){


/* Nav bar */
  .desktop-nav {
    display: none !important;
  }

  .mobile-nav {
    margin-top: 0;
  flex-direction: column;  }

  .mobile-nav ul {
      display: flex;
      font-size: 1.5rem;
    }

    .mobile-nav #burger-menu {
      display: none;
    }

    .nav-logo {
      float:left;
      padding-top: 1rem;
    }

    }
  

